{#Custom form types widget#}

{#字段别名widget#}
{% block teebb_field_alias_widget %}
    <div class="input-alias-wrapper form-inline">
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock %}

{#字段别名值widget#}
{% block teebb_alias_value_widget %}
    <div class="input-alias-wrapper form-inline">
        <span>{% if value is not empty %}{{ value }}{% endif %}</span>
    </div>
{% endblock %}

{#字段设置限制数量widget#}
{% block teebb_field_limit_widget %}
    <div class="form-inline select-field-limit">
        <select id="select_field_limit" class="form-control form-control-sm mr-0 mr-sm-2">
            <option value="limit" {% if value != 0 %}selected{% endif %}>限制</option>
            <option value="0" {% if value == 0 %}selected{% endif %}>不限</option>
        </select>
        <div id="select_field_limit_input_wrapper" class="{% if value == 0 %}d-none{% else %}d-block{% endif %}">
            <input type="number" {{ block('widget_attributes') }}
                    {% if value is not empty %}value="{{ value }}"{% else %}value="{{ form.vars.default_value }}" {% endif %}/>
        </div>
    </div>
{% endblock %}

{% block text_summary_widget %}
    {% set show_summary = form.vars['show_summary'] %}
    {% set summary_required = form.vars['summary_required'] %}
    <a class="toggle-show-summary" href="#" data-toggle="collapse" data-target="#collapseSummary"
       aria-expanded="{{ show_summary }}"
       data-show-text="{{ 'teebb.core.form.show_summary'|trans }}"
       data-hide-text="{{ 'teebb.core.form.hide_summary'|trans }}" aria-controls="collapseSummary">
        <span class="font-italic small">
            {% if show_summary==true %}
                {{ 'teebb.core.form.hide_summary'|trans }}
            {% else %}
                {{ 'teebb.core.form.show_summary'|trans }}
            {% endif %}
        </span>
    </a>
    <div class="collapse {% if show_summary==true %}show{% endif %}" id="collapseSummary">
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
        <textarea {{ block('widget_attributes') }} {% if summary_required==true %}required{% endif %}>{{ value }}</textarea>
    </div>
{% endblock %}

{% block base_field_widget %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}

<div {{ block('widget_container_attributes') }}>
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {% for child in form|filter(child => not child.rendered) %}
        {%- if compound is defined and compound -%}
            {%- set element = 'fieldset' -%}
        {%- endif -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group mb-0')|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(child) -}}
        {{- form_widget(child, widget_attr) -}}
        {{- form_help(child) -}}
        </{{ element|default('div') }}>
    {% endfor %}
    {{- form_rest(form) -}}
    </div>

    {% if form.vars.limit == 0 and form.vars.field_type not in ['boolean', 'listInteger', 'listFloat'] %}
        <button type="button" class="form-field-add-item btn btn-outline-primary btn-sm">
            <small>{{ 'teebb.core.form.add_field_item'|trans }}</small></button>
    {% endif %}
{% endblock %}

{% block field_file_widget %}
    {# 如果value表单有数据则不显示input #}
    <{{ element|default('div') }} class="custom-file {% if form.parent.children.value.vars.data is not null %}d-none{% endif %}">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    {%- set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' custom-file-label')|trim }) -%}
    <label for="{{ form.vars.id }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
        {%- if attr.placeholder is defined and attr.placeholder is not none -%}
            {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
        {%- endif -%}
    </label>
    </{{ element|default('div') }}>
{% endblock %}

{% block file_show_widget %}
    {# 如果value表单有数据则显示文件 #}
    {% set file = form.parent.children.value.vars.data %}
    <div class="file-show pl-0 {% if file is null %}d-none{% endif %}">
        <div class="d-flex justify-content-between">
            <a class="file small"
               href="{% if file is not null %}{{ show_file_url(app.request,file.filePath) }}{% endif %}">
                <i class="fas fa-file pr-2"></i>{% if file is not null %} {{ file.originFileName }} {% endif %}</a>
            <button type="button" onclick="fieldFileDelete(this)"
                    data-file-id="{% if file is not null %}{{ file.id }}{% endif %}"
                    class="btn-file-delete btn btn-sm btn-danger">
                <small>{{ 'teebb.core.form.remove_field_item'|trans }}</small></button>
        </div>
    </div>
{% endblock %}

{% block image_show_widget %}
    {# 如果value表单有数据则显示文件 #}
    {% set file = form.parent.children.value.vars.data %}
    <div class="file-show pl-0 {% if file is null %}d-none{% endif %}">
        <div class="d-flex justify-content-between align-items-center">
            <img class="file small"
                 src="{% if file is not null %} {{ asset(file.filePath)|imagine_filter('squared_thumbnail_small') }} {% endif %}"/>
            <button type="button" onclick="fieldFileDelete(this)"
                    data-file-id="{% if file is not null %}{{ file.id }}{% endif %}"
                    class="btn-file-delete btn btn-sm btn-danger">
                <small>{{ 'teebb.core.form.remove_field_item'|trans }}</small></button>
        </div>
    </div>
{% endblock %}


{% block permission_widget %}
    {% set data = form.vars.data %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td class="font-weight-bold">{{ 'permission'|trans }}</td>
            <td class="font-weight-bold">{{ 'bool_checked'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for permission in data %}
            {% for category, value in permission %}
                <tr>
                    <td colspan="2" class="font-weight-bold">{{ category|trans }}</td>
                </tr>
                {% for permission_value, permission_label in value %}
                    <tr>
                        <td class="pl-4">{{ permission_label|trans }}</td>
                        <td>
                            <input type="checkbox" name="permission[{{ category }}][{{ permission_value }}]">
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{%- block repeated_row -%}
    <div class="form-group">
        {% if form.vars.label != false %}
            {{ form_label(form) }}
        {% endif %}
        {#
        No need to render the errors here, as all errors are mapped
        to the first child (see RepeatedTypeValidatorExtension).
        #}
        {{- block('form_rows') -}}
        {% if form.vars.help != false %}
            {{ form_help(form) }}
        {% endif %}
    </div>
{%- endblock repeated_row -%}