{#Custom form types widget#}

{#字段别名widget#}
{% block teebb_field_alias_widget %}
    <div class="input-alias-wrapper form-inline">
        <span>field_</span>
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock %}

{#字段别名值widget#}
{% block teebb_alias_value_widget %}
    <div class="input-alias-wrapper form-inline">
        <span>field_</span>
        <span>{% if value is not empty %}{{ value }}{% endif %}</span>
    </div>
{% endblock %}

{#字段设置限制数量widget#}

{% block teebb_field_limit_widget %}
    <div class="form-inline select-field-limit">
        <select id="select_field_limit" class="form-control form-control-sm mr-0 mr-sm-2">
            <option value="limit" {% if value != 0 %}selected{% endif %}>限制</option>
            <option value="0" {% if value == 0 %}selected{% endif %}>不限</option>
        </select>
        <div id="select_field_limit_input_wrapper" class="{% if value == 0 %}d-none{% else %}d-block{% endif %}">
            <input type="number" {{ block('widget_attributes') }}
                    {% if value is not empty %}value="{{ value }}"{% else %}value="{{ form.vars.default_value }}" {% endif %}/>
        </div>
    </div>
{% endblock %}

{% block text_summary_widget %}
    {% set show_summary = form.vars['show_summary'] %}
    {% set summary_required = form.vars['summary_required'] %}
    <button class="btn btn-sm btn-primary mb-2" type="button" data-toggle="collapse" data-target="#collapseSummary"
            aria-expanded="{{ show_summary }}" aria-controls="collapseSummary">
        <span class="font-italic small">{{ 'teebb.core.form.show_summary'|trans }}</span>
    </button>
    <div class="collapse {% if show_summary==true %}show{% endif %}" id="collapseSummary">
        <div class="card">
            {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
            <textarea {{ block('widget_attributes') }} {% if summary_required==true %}required{% endif %}>{{ value }}</textarea>
        </div>
    </div>
{% endblock %}