{#Custom form types widget#}

{#字段别名widget#}
{% block teebb_field_alias_widget %}
    <div class="input-alias-wrapper form-inline">
        <span>field_</span>
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock %}

{#字段别名值widget#}
{% block teebb_alias_value_widget %}
    <div class="input-alias-wrapper form-inline">
        <span>field_</span>
        <span>{% if value is not empty %}{{ value }}{% endif %}</span>
    </div>
{% endblock %}

{#字段设置限制数量widget#}

{% block teebb_field_limit_widget %}
    <div class="form-inline select-field-limit">
        <select id="select_field_limit" class="form-control form-control-sm mr-0 mr-sm-2">
            <option value="limit">限制</option>
            <option value="0">不限</option>
        </select>
        <input type="number" {{ block('widget_attributes') }}
                {% if value is not empty %}value="{{ value }}"{% else %}value="{{ form.vars.default_value }}" {% endif %}/>
    </div>
{% endblock %}