{#管理字段页面#}
{% extends '@TeebbCore/base_content.html.twig' %}

{% block head_label %}
    {{ 'teebb.core.fields.index'|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/fields/buttons/head_add_field_button.html.twig' with _context %}
{% endblock %}

{% block card_title %}
    {% include '@TeebbCore/tab_card_title.html.twig' with _context %}
{% endblock %}

{% block card_body %}
    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'teebb.core.list.name'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.alias'|trans }}</th>
                <th scope="col" class="d-none d-sm-table-cell">{{ 'teebb.core.list.field_type'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.options'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for field in fields %}
                <tr>
                    <td>{{ field.fieldLabel }}</td>
                    <td>{{ field.fieldAlias }}</td>
                    <td class="d-none d-sm-table-cell">{{ field.fieldType|trans }}</td>
                    <td class="text-nowrap">
                        {% include '@TeebbCore/fields/buttons/item_manage_fields_button.html.twig' with _context %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
