{% if action =='index' %}
    <a href="{{ path('teebb_content_create_index') }}"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-circle fa-sm text-white-50 pr-2"></i>
        {{ 'create'|trans }}{{ entity_type.bundle|trans }}
    </a>
{% else %}
    <a href="{{ path('teebb_content_index') }}"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-list fa-sm text-white-50 pr-2"></i>
        {{ 'index'|trans }}{{ entity_type.bundle|trans }}
    </a>
{% endif %}

