{% extends '@TeebbCore/base_content.html.twig' %}

{% block head_label %}
    {{ action|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/terms/buttons/head_create_term_button.html.twig' %}
{% endblock %}

{% block card_title %}
    {% include '@TeebbCore/terms/common/card_title.html.twig' %}
{% endblock %}

{% block card_body %}
    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'teebb.core.list.name'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.alias'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.options'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for taxonomy in taxonomies %}
                <tr>
                    <td><small>|--</small>{{ taxonomy.term }}</td>
                    <td>{{ taxonomy.slug }}</td>
                    <td>
                        {% include '@TeebbCore/terms/buttons/item_manage_term_button.html.twig' with {taxonomy: taxonomy} %}
                    </td>
                </tr>
                {% for childrenTaxonomy in taxonomyRepo.children(taxonomy) %}

                    <tr>
                        <td>
                            {% for i in 1..childrenTaxonomy.lvl %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}
                            <small>|--</small>{{ childrenTaxonomy.term }}
                        </td>
                        <td>{{ childrenTaxonomy.slug }}</td>
                        <td>
                            {% include '@TeebbCore/terms/buttons/item_manage_term_button.html.twig' with {taxonomy: childrenTaxonomy} %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
