{#管理字段列表card-title#}
{#Todo: 每个li 需要权限判断#}

{% set type = entity_type.EntityTypeMetadata.type %}
{% set typeAlias = app.request.get('alias') %}

<div class="card-header d-flex flex-row align-items-center justify-content-between">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link small"
               href="{{ entity_type.pathInfoGenerator.generate(type ~ '_update', {'alias': typeAlias}) }}">{{ 'update'|trans }}{{ trans_markup(entity_type.EntityTypeMetadata.label) }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active small"
               href="{{ entity_type.pathInfoGenerator.generate( type ~ '_index_field', {'alias':typeAlias}) }}">{{ action|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link small" href="{{ entity_type.pathInfoGenerator.generate( type ~ '_display_field', {'alias':typeAlias}) }}">{{ 'display_field'|trans }}</a>
        </li>
    </ul>
</div>