{% extends '@TeebbCore/base_content.html.twig' %}

{% block head_label %}
    {{ action|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/terms/buttons/head_index_term_button.html.twig' %}
{% endblock %}

{% block card_title %}
    {% include '@TeebbCore/terms/common/card_title.html.twig' with _context %}
{% endblock %}

{% block card_body %}
    {#获取当前内容类型的所有字段, 用于表单分栏#}
    {% set all_fields = entity_type.allFields(type_alias) %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-md-8">
            {{ form_row(form.term) }}
            {{ form_row(form.description) }}

            {% for field in all_fields %}
                {% set field_alias = field.fieldAlias %}
                {{ form_row(form[field_alias]) }}
            {% endfor %}

            {% include '@TeebbCore/terms/buttons/form_submit_button.html.twig' with _context %}
        </div>
        <div class="col-12 col-md-4">
            <div class="border p-3">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}