{% extends '@TeebbCore/base_content.html.twig' %}
{% set bundle = entity_type.bundle %}

{% block head_label %}
    {{ action|trans }}{{ bundle|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/content/buttons/head_index_content_button.html.twig' with _context %}
{% endblock %}

{% block card_title %}
    {% include '@TeebbCore/content/common/card_title.html.twig' with _context %}
{% endblock %}

{% block card_body %}
    {# 获取当前页面URL 用于 limit 切换跳转   #}
    {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query)) %}
    {{ form_start(batch_action_form) }}
    {{ form_row(batch_action_form.batch) }}
    {{ form_row(batch_action_form.submit) }}

    {{ form_row(batch_action_form.limit,{
        'attr':{'data-path':path},
        'label_translation_parameters':{'%total%':paginator.nbResults},
        'value':app.request.get('limit')
    }) }}

    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" class="form-check check-all" title="{{ 'teebb.core.list.check_all'|trans }}">
                </th>
                <th scope="col">{{ 'teebb.core.list.title'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.type'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.publish_status'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.update_date'|trans }}</th>
                <th scope="col">{{ 'teebb.core.list.options'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for content in paginator %}
                <tr>
                    <td>
                        <input type="checkbox" name="content[]" class="form-check" value="{{ content.id }}">
                    </td>
                    <td>
                        <a href="{{ path('teebb_'~bundle~'_update',{'slug': content.slug}) }}">
                            <i class="fas fa-file-alt fa-sm pr-2"></i>{{ content.title }}</a>
                    </td>
                    <td>{{ content.type.label }}</td>
                    <td>{{ content.status|trans }}</td>
                    <td>{{ content.updatedAt|date('Y-m-d H:i') }}</td>
                    <td>
                        {% include '@TeebbCore/content/buttons/item_manage_types_button.html.twig' with {item:content} %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ form_end(batch_action_form) }}

    {#  页码  #}
    {% if paginator.haveToPaginate %}
        <div class="my-3">
            {{ pagerfanta(paginator, 'twitter_bootstrap4_translated') }}
        </div>
    {% endif %}

{% endblock %}
