{% extends '@TeebbCore/standard_layout.html.twig' %}

{% block head_label %}
    {{ action|trans }}{{ 'Menu'|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/menu/buttons/head_index_menu_button.html.twig' %}
{% endblock %}

{% block content %}
    <!-- FULL WIDTH Content -->
    <div class="full-width-wrapper row">

        <div class="col-12 col-md-4 mb-4 js-add-menu-item">
            <h5 class="font-weight-bold text-dark">{{ 'Add Menu Item'|trans }}</h5>
            <div class="accordion shadow" id="accordionMenu">
                <div class="card">
                    <a href="#collapseContentType" id="headingContentType" class="d-block card-header py-3"
                       data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseContentType">
                        <h6 class="m-0 font-weight-bold text-primary">{{ 'Type'|trans }}</h6>
                    </a>
                    <div id="collapseContentType" class="collapse show" aria-labelledby="headingContentType"
                         data-parent="#accordionMenu">
                        <div class="card-body">

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <span class="nav-link bg-gray-100 border-bottom-gray-100 rounded-0 active pl-2 pr-2 pt-1 pb-1">{{ 'All Types'|trans }}</span>
                                </li>
                            </ul>

                            <div class="col-12 border border-top-0 bg-gray-100">
                                <div class="pt-2 pb-2">
                                    {% for content_type in content_types %}
                                        <div class="form-check">
                                            <input class="form-check-input mr-2 menu-info-input"
                                                   data-path="{{ path('teebb_types_contents', {typeAlias: content_type.typeAlias}) }}"
                                                   data-label="{{ content_type.label }}"
                                                   type="checkbox"
                                                   value="{{ content_type.id }}"
                                                   id="content_type_{{ content_type.typeAlias }}">
                                            <label class="form-check-label"
                                                   for="content_type_{{ content_type.typeAlias }}">
                                                {{ content_type.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-sm btn-light border add-menu-btn">
                                    <small>{{ 'Add to menu'|trans }}</small></button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="#collapseContent" id="headingContent" class="d-block card-header py-3 collapsed"
                       data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseContent">
                        <h6 class="m-0 font-weight-bold text-primary">{{ 'Content'|trans }}</h6>
                    </a>
                    <div id="collapseContent" class="collapse" aria-labelledby="headingContent"
                         data-parent="#accordionMenu">
                        <div class="card-body">

                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a id="latest-contents" data-toggle="tab" href="#tabLatestContents" role="tab"
                                       aria-controls="tabLatestContents" aria-selected="true"
                                       class="nav-link bg-gray-100 border-bottom-gray-100 rounded-0 active pl-2 pr-2 pt-1 pb-1">{{ 'Last Contents'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a id="search-contents" data-toggle="tab" href="#tabSearchContents" role="tab"
                                       aria-controls="tabSearchContents" aria-selected="false"
                                       class="nav-link rounded-0 pl-2 pr-2 pt-1 pb-1">{{ 'Search'|trans }}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="contentTab">
                                <div id="tabLatestContents" role="tabpanel" aria-labelledby="latest-contents"
                                     class="tab-pane fade show active col-12 border border-top-0 bg-gray-100 max-height-200 overflow-auto">
                                    <div class="pt-2 pb-2">
                                        {% for last_content in last_contents %}
                                            <div class="form-check">
                                                <input class="form-check-input mr-2 menu-info-input" type="checkbox"
                                                       data-path="{{ path('teebb_content_show', {slug: last_content.slug}) }}"
                                                       data-label="{{ last_content.title }}"
                                                       id="last_content_{{ last_content.id }}"
                                                       value="{{ last_content.id }}">
                                                <label class="form-check-label"
                                                       for="last_content_{{ last_content.id }}">
                                                    {{ last_content.title }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="tabSearchContents" role="tabpanel" aria-labelledby="search-contents"
                                     class="tab-pane fade col-12 border border-top-0 bg-gray-100 max-height-200 overflow-auto">

                                    <div class="search-contents input-group mt-3 mb-3">
                                        <input type="text" class="form-control form-control-sm search-content-input"
                                               id="search-contents-input"
                                               placeholder="{{ 'Search Content'|trans }}"
                                               aria-label="{{ 'Search Content'|trans }}"
                                               aria-describedby="button-search-contents">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary" type="button"
                                                    id="button-search-contents"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>

                                    <div class="pt-2 pb-2 search-content-result">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-sm btn-light border add-menu-btn">
                                    <small>{{ 'Add to menu'|trans }}</small></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="#collapseTaxonomy" id="headingTaxonomy" class="d-block card-header py-3 collapsed"
                       data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseTaxonomy">
                        <h6 class="m-0 font-weight-bold text-primary">{{ 'Taxonomy'|trans }}</h6>
                    </a>
                    <div id="collapseTaxonomy" class="collapse" aria-labelledby="headingTaxonomy"
                         data-parent="#accordionMenu">
                        <div class="card-body">

                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a id="all-terms" data-toggle="tab" href="#tabAllTerms" role="tab"
                                       aria-controls="tabAllTerms" aria-selected="true"
                                       class="nav-link bg-gray-100 border-bottom-gray-100 rounded-0 active pl-2 pr-2 pt-1 pb-1">{{ 'All terms'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a id="search-terms" data-toggle="tab" href="#tabSearchTerms" role="tab"
                                       aria-controls="tabSearchTerms" aria-selected="false"
                                       class="nav-link rounded-0 pl-2 pr-2 pt-1 pb-1">{{ 'Search'|trans }}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="taxonomyTab">
                                <div id="tabAllTerms" role="tabpanel" aria-labelledby="all-terms"
                                     class="tab-pane fade show active col-12 border border-top-0 bg-gray-100 max-height-200 overflow-auto">
                                    <div class="pt-2 pb-2">
                                        {% for taxonomy in taxonomies %}
                                            <div class="form-check">
                                                <input class="form-check-input mr-2 menu-info-input"
                                                       id="taxonomy_{{ taxonomy.id }}"
                                                       data-path="{{ path('teebb_taxonomy_contents', {slug: taxonomy.slug}) }}"
                                                       data-label="{{ taxonomy.term }}"
                                                       type="checkbox"
                                                       value="{{ taxonomy.id }}">
                                                <label class="form-check-label" for="taxonomy_{{ taxonomy.id }}">
                                                    {{ taxonomy.term }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="tabSearchTerms" role="tabpanel" aria-labelledby="search-terms"
                                     class="tab-pane fade col-12 border border-top-0 bg-gray-100 max-height-200 overflow-auto">

                                    <div class="search-terms input-group mt-3 mb-3">
                                        <input type="text" class="form-control form-control-sm"
                                               id="search-terms-input"
                                               placeholder="{{ 'Search Term'|trans }}"
                                               aria-label="{{ 'Search Term'|trans }}"
                                               aria-describedby="button-search-terms">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary" type="button"
                                                    id="button-search-terms"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>

                                    <div class="pt-2 pb-2 search-term-result">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-sm btn-light border add-menu-btn">
                                    <small>{{ 'Add to menu'|trans }}</small></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="#collapseCustomLink" id="headingCustomLink" class="d-block card-header py-3 collapsed"
                       data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCustomLink">
                        <h6 class="m-0 font-weight-bold text-primary">{{ 'Custom Link'|trans }}</h6>
                    </a>
                    <div id="collapseCustomLink" class="collapse" aria-labelledby="headingCustomLink"
                         data-parent="#accordionMenu">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="link_url" class="mr-2">{{ 'Link URL'|trans }}</label>
                                <input id="link_url" type="url" class="form-control form-control-sm w-100"
                                       placeholder="http://">
                            </div>
                            <div class="form-group">
                                <label for="link_title" class="mr-2">{{ 'Link Title'|trans }}</label>
                                <input id="link_title" type="text" class="form-control form-control-sm w-100">
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-sm btn-light border add-custom-menu-btn">
                                    <small>{{ 'Add to menu'|trans }}</small></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 mb-4">
            <h5 class="font-weight-bold text-dark">{{ 'Manage Menu Items'|trans }}</h5>
            <div class="card shadow">

                <div class="card-header d-sm-flex align-items-center justify-content-between py-3">
                    <div class="form-row form-inline">
                        <label for="menu-name-input"
                               class="m-0 font-weight-bold text-primary mr-2">{{ 'Menu Name'|trans }}:</label>
                        <input id="menu-name-input" data-menu-id="{{ menu.id }}" name="menu-name"
                               class="form-control form-control-sm w-auto" type="text"
                               value="{{ menu.name }}">
                    </div>
                </div>
                <div class="card-body">
                    <div class="small text-muted">{{ 'menu item help'|trans }}</div>

                    <div class="dd mt-3" id="js-nestable-menu">
                        <ol class="dd-list">
                            {% for menu_item in menu_items %}
                                <li class="dd-item mb-2" data-id="{{ menu_item.id }}">
                                    <a href="#menu_item_{{ menu_item.id }}" id="headingMenuItem-{{ menu_item.id }}"
                                       class="bg-gray-100 d-block card-header py-3 collapsed border rounded-0"
                                       data-toggle="collapse" role="button" aria-expanded="false"
                                       aria-controls="menu_item_{{ menu_item.id }}">
                                        <h6 class="m-0 font-weight-bold text-primary">{{ menu_item.menuTitle }}</h6>
                                    </a>
                                    <div class="accordion-arrow"></div>
                                    <div id="menu_item_{{ menu_item.id }}" class="border border-top-0 collapse"
                                         aria-labelledby="headingMenuItem-{{ menu_item.id }}"
                                         data-parent="#js-nestable-menu">

                                        <div class="card-body menu-item-wrapper" data-menu-item-id="{{ menu_item.id }}">
                                            <div class="form-group row">
                                                <label for="menu_link_url_{{ menu_item.id }}"
                                                       class="col-md-2 col-form-label text-nowrap">{{ 'Link URL'|trans }}</label>
                                                <div class="col-md-10">
                                                    <input id="menu_link_url_{{ menu_item.id }}" type="url"
                                                           name="menu-item[{{ loop.index0 }}][{{ menu_item.id }}][link]"
                                                           class="form-control form-control-sm w-100 input-menu-item-link"
                                                           value="{{ menu_item.menuLink }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="menu_link_name_{{ menu_item.id }}"
                                                       class="col-md-2 col-form-label text-nowrap">{{ 'Link Title'|trans }}</label>
                                                <div class="col-md-10">
                                                    <input id="menu_link_name_{{ menu_item.id }}" type="text"
                                                           name="menu-item[{{ loop.index0 }}][{{ menu_item.id }}][title]"
                                                           value="{{ menu_item.menuTitle }}"
                                                           class="form-control form-control-sm w-100 input-menu-item-title">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="menu_link_attr_title_{{ menu_item.id }}"
                                                       class="col-md-2 col-form-label text-nowrap">{{ 'Link Attr'|trans }}</label>
                                                <div class="col-md-10">
                                                    <input id="menu_link_attr_title_{{ menu_item.id }}" type="text"
                                                           name="menu-item[{{ loop.index0 }}][{{ menu_item.id }}][title_attr]"
                                                           value="{{ menu_item.menuTitleAttr }}"
                                                           class="form-control form-control-sm w-100 input-menu-item-title-attr">
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <button type="button" data-menu-item-id="{{ menu_item.id }}"
                                                        class="btn btn-sm btn-link text-danger p-0 remove-menu-item-btn">
                                                    <small>{{ 'Remove'|trans }}</small></button>
                                            </div>
                                        </div>
                                    </div>
                                    {% for child_menu_item in menu_item_repo.children(menu_item) %}
                                        {{ dump(child_menu_item) }}
                                    {% endfor %}
                                </li>
                            {% endfor %}

                        </ol>
                    </div>
                </div>

                <div class="card-footer d-sm-flex align-items-center justify-content-between py-3">
                    <a href="{{ path('teebb_menu_delete', {'id':menu.id}) }}"
                       class="btn btn-link text-danger d-inline p-0" type="button">
                        <small>{{ 'teebb.core.form.delete_menu'|trans }}</small>
                    </a>
                    <button id="save-all-menu-btn" class="btn btn-sm btn-primary shadow-sm d-inline" type="button">
                        <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                        <span class="text">{{ 'teebb.core.form.save_menu'|trans }}</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block page_java_scripts %}
    <script>
        $('#js-nestable-menu').nestable({ /* config options */
            handleClass: 'card-header',
        });

        //菜单保存按钮点击事件
        $('#save-all-menu-btn').click(function (element) {
            var nestableMenuWrapper = $('#js-nestable-menu');
            //菜单项父子关系及顺序
            var menuItemRelation = nestableMenuWrapper.nestable('serialize');

            //菜单名称
            var menuAnchor = $('#menu-name-input');
            var menuName = menuAnchor.val();
            var menuId = menuAnchor.data('menu-id');
            //各菜单项数据,查找所有 div.menu-item-wrapper
            var menuItemArray = [];
            var menuItemWrappers = nestableMenuWrapper.find('div.menu-item-wrapper');
            for (var i = 0; i < menuItemWrappers.length; i++) {
                var itemInfo = {};
                itemInfo['id'] = $(menuItemWrappers[i]).data('menu-item-id');
                itemInfo['link'] = $(menuItemWrappers[i]).find('.input-menu-item-link').val();
                itemInfo['title'] = $(menuItemWrappers[i]).find('.input-menu-item-title').val();
                itemInfo['title-attr'] = $(menuItemWrappers[i]).find('.input-menu-item-title-attr').val();

                menuItemArray.push(itemInfo);
            }

            //ajax传递所有数据以保存菜单
            var formData = new FormData();
            formData.append("menu-name", menuName);
            formData.append("menu-items", JSON.stringify(menuItemArray));
            formData.append("menu-item-relation", JSON.stringify(menuItemRelation));

            $.ajax({
                url: Routing.generate('teebb_menu_save_info_api', {id: menuId}),
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                dataType: "json",
            }).done(function (data) {
                //成功保存菜单 刷新页面
                window.location.reload();
            }).fail(function (jqXHR) {
                nestableMenuWrapper.prepend(createFormErrorMessage(jqXHR.responseJSON.detail));
            });
        })
        ;
    </script>
{% endblock %}