<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    {{ 'Content'|trans }}
</div>

<!-- Nav Item - Content Manage Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#contentManageMenu"
       aria-expanded="true" aria-controls="contentManageMenu">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>{{ 'Content'|trans }}</span>
    </a>
    <div id="contentManageMenu" class="collapse" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ 'Manage Content'|trans }}:</h6>
            <a class="collapse-item" href="select-content-type.html">{{ 'Add Content'|trans }}</a>
            <a class="collapse-item" href="list-contents.html">{{ 'Manage Content'|trans }}</a>
        </div>
    </div>
</li>

<!-- Nav Item - Content Type Manage Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#contentTypeManageMenu"
       aria-expanded="true" aria-controls="contentTypeManageMenu">
        <i class="fas fa-fw fa-boxes"></i>
        <span>{{ 'Type'|trans }}</span>
    </a>
    <div id="contentTypeManageMenu" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ 'Manage Type'|trans }}:</h6>
            <a class="collapse-item" href="add-content-type.html">{{ 'Add Type'|trans }}</a>
            <a class="collapse-item" href="list-content-type.html">{{ 'Manage Type'|trans }}</a>
        </div>
    </div>
</li>

<!-- Nav Item - Taxonomy Type Manage Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tagsManageMenu"
       aria-expanded="true" aria-controls="tagsManageMenu">
        <i class="fas fa-fw fa-tags"></i>
        <span>{{ 'Taxonomy'|trans }}</span>
    </a>
    <div id="tagsManageMenu" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ 'Manage Taxonomy'|trans }}:</h6>
            <a class="collapse-item" href="add-taxonomy.html">{{ 'Add Taxonomy'|trans }}</a>
            <a class="collapse-item" href="list-taxonomy.html">{{ 'Manage Taxonomy'|trans }}</a>
        </div>
    </div>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    {{ 'Other'|trans }}
</div>

<!-- Nav Item - Nav Manage Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#navManageMenu"
       aria-expanded="true" aria-controls="navManageMenu">
        <i class="fas fa-fw fa-list"></i>
        <span>{{ 'Menu'|trans }}</span>
    </a>
    <div id="navManageMenu" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ 'Manage Menu'|trans }}:</h6>
            <a class="collapse-item" href="utilities-border.html">{{ 'Add Menu'|trans }}</a>
            <a class="collapse-item" href="utilities-color.html">{{ 'Manage Menu'|trans }}</a>
        </div>
    </div>
</li>

<!-- Nav Item - Comment Manage Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#commentManageMenu"
       aria-expanded="true" aria-controls="commentManageMenu">
        <i class="fas fa-fw fa-comment"></i>
        <span>{{ 'Comment'|trans }}</span>
    </a>
    <div id="commentManageMenu" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ 'Manage Comment'|trans }}:</h6>
            <a class="collapse-item" href="utilities-border.html">{{ 'Comment Types'|trans }}</a>
        </div>
    </div>
</li>

<!-- Nav Item - Form Manage Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userManageMenu"
       aria-expanded="true" aria-controls="userManageMenu">
        <i class="fas fa-fw fa-user"></i>
        <span>{{ 'User'|trans }}</span>
    </a>
    <div id="userManageMenu" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ 'Manage User'|trans }}:</h6>
            <a class="collapse-item" href="list-users.html">{{ 'Manage User'|trans }}</a>
            <a class="collapse-item" href="list-groups.html">{{ 'User Group'|trans }}</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    {{ 'Settings'|trans }}
</div>


<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#systemSettingsMenu"
       aria-expanded="true" aria-controls="systemSettingMenu">
        <i class="fas fa-fw fa-tools"></i>
        <span>{{'System'|trans}}</span>
    </a>
    <div id="systemSettingsMenu" class="collapse" aria-labelledby="headingPages"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{'System Setting'|trans}}:</h6>
            <a class="collapse-item" href="system.html">{{'Basic Setting'|trans}}</a>
            <a class="collapse-item" href="text-format.html">{{'Text Formatter'|trans}}</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">