{% set _head_actions = block('head_actions') is defined ? block('head_actions')|trim : null %}
{% set system = teebb_core.optionValue('system') %}
{# 如果当前页面需要添加额外Assets库 #}
{% if extra_assets is defined %}
    {{ teebb_core.templateRegistry.addExtraToStyleSheetsAndJavaScripts(extra_assets) }}
{% endif %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block seo %}
    {% endblock %}

    <title>{% block title %}{{ system.siteName }} {{ 'Dashboard'|trans }}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    {% block stylesheets %}
        {% for style in teebb_core.templateRegistry.allStyleSheets %}
            <link href="{{ asset(style) }}" rel="stylesheet" type="text/css">
        {% endfor %}
    {% endblock %}
    {% block page_stylesheets %}
    {% endblock %}
</head>


<body {% block body_attr %}id="page-top"{% endblock %}>

{% block page_wrapper %}
    <!-- Page Wrapper -->
    <div id="wrapper">
        <noscript class="noscript-warning  fixed-top text-center bg-danger text-dark">
            {{ 'teebb.core.layout.noscript'|trans }}
        </noscript>

        {% block sidebar %}
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center"
                   href="{{ path('teebb_dashboard') }}">
                    <div class="sidebar-brand-text mx-3">{{ system.siteName }}</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('teebb_dashboard') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>{{ 'Dashboard'|trans }}</span></a>
                </li>

                {{ knp_menu_render('teebb_sidebar_menu', {template: teebb_core.templateRegistry.template('sidebar_menu')}) }}

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->
        {% endblock %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% block topbar %}
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!--Breadcrumb-->
                        <nav aria-label="breadcrumb" class="d-none d-md-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('teebb_dashboard') }}"><i
                                                class="fas fa-home"></i></a></li>
                            </ol>
                        </nav>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Topbar Search -->
                            <li class="nav-item m-auto mx-1">
                                {{ sonata_block_render({type:'teebb.core.block.search'}, {
                                    form_class: 'd-none d-lg-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search',
                                }) }}
                            </li>

                            <!-- Nav Item - Search Dropdown (Visible Down lg) -->
                            <li class="nav-item dropdown no-arrow d-lg-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-search dropdown-search dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    {{ sonata_block_render({type:'teebb.core.block.search'}, {
                                        form_class: 'form-inline mr-auto w-100 navbar-search',
                                    }) }}
                                </div>
                            </li>

                            {# <!-- Nav Item - Alerts --> #}
                            {# <li class="nav-item dropdown no-arrow mx-1"> #}
                            {# <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" #}
                            {# data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> #}
                            {# <i class="fas fa-bell fa-fw"></i> #}
                            {# <!-- Counter - Alerts --> #}
                            {# <span class="badge badge-danger badge-counter">3+</span> #}
                            {# </a> #}
                            {# <!-- Dropdown - Alerts --> #}
                            {# <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" #}
                            {# aria-labelledby="alertsDropdown"> #}
                            {# <h6 class="dropdown-header"> #}
                            {# Alerts Center #}
                            {# </h6> #}
                            {# <a class="dropdown-item d-flex align-items-center" href="#"> #}
                            {# <div class="mr-3"> #}
                            {# <div class="icon-circle bg-primary"> #}
                            {# <i class="fas fa-file-alt text-white"></i> #}
                            {# </div> #}
                            {# </div> #}
                            {# <div> #}
                            {# <div class="small text-gray-500">December 12, 2019</div> #}
                            {# <span class="font-weight-bold">A new monthly report is ready to download!</span> #}
                            {# </div> #}
                            {# </a> #}
                            {# <a class="dropdown-item d-flex align-items-center" href="#"> #}
                            {# <div class="mr-3"> #}
                            {# <div class="icon-circle bg-success"> #}
                            {# <i class="fas fa-donate text-white"></i> #}
                            {# </div> #}
                            {# </div> #}
                            {# <div> #}
                            {# <div class="small text-gray-500">December 7, 2019</div> #}
                            {# $290.29 has been deposited into your account! #}
                            {# </div> #}
                            {# </a> #}
                            {# <a class="dropdown-item d-flex align-items-center" href="#"> #}
                            {# <div class="mr-3"> #}
                            {# <div class="icon-circle bg-warning"> #}
                            {# <i class="fas fa-exclamation-triangle text-white"></i> #}
                            {# </div> #}
                            {# </div> #}
                            {# <div> #}
                            {# <div class="small text-gray-500">December 2, 2019</div> #}
                            {# Spending Alert: We've noticed unusually high spending for your account. #}
                            {# </div> #}
                            {# </a> #}
                            {# <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a> #}
                            {# </div> #}
                            {# </li> #}

                            {# <!-- Nav Item - Messages --> #}
                            {# <li class="nav-item dropdown no-arrow mx-1"> #}
                            {# <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" #}
                            {# data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> #}
                            {# <i class="fas fa-envelope fa-fw"></i> #}
                            {# <!-- Counter - Messages --> #}
                            {# <span class="badge badge-danger badge-counter">7</span> #}
                            {# </a> #}
                            {# <!-- Dropdown - Messages --> #}
                            {# <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" #}
                            {# aria-labelledby="messagesDropdown"> #}
                            {# <h6 class="dropdown-header"> #}
                            {# Message Center #}
                            {# </h6> #}
                            {# <a class="dropdown-item d-flex align-items-center" href="#"> #}
                            {# <div class="dropdown-list-image mr-3"> #}
                            {# <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" #}
                            {# alt=""> #}
                            {# <div class="status-indicator bg-success"></div> #}
                            {# </div> #}
                            {# <div class="font-weight-bold"> #}
                            {# <div class="text-truncate">Hi there! I am wondering if you can help me with a #}
                            {# problem I've been having. #}
                            {# </div> #}
                            {# <div class="small text-gray-500">Emily Fowler · 58m</div> #}
                            {# </div> #}
                            {# </a> #}
                            {# <a class="dropdown-item d-flex align-items-center" href="#"> #}
                            {# <div class="dropdown-list-image mr-3"> #}
                            {# <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" #}
                            {# alt=""> #}
                            {# <div class="status-indicator"></div> #}
                            {# </div> #}
                            {# <div> #}
                            {# <div class="text-truncate">I have the photos that you ordered last month, how #}
                            {# would #}
                            {# you like them sent to you? #}
                            {# </div> #}
                            {# <div class="small text-gray-500">Jae Chun · 1d</div> #}
                            {# </div> #}
                            {# </a> #}
                            {# <a class="dropdown-item d-flex align-items-center" href="#"> #}
                            {# <div class="dropdown-list-image mr-3"> #}
                            {# <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" #}
                            {# alt=""> #}
                            {# <div class="status-indicator bg-warning"></div> #}
                            {# </div> #}
                            {# <div> #}
                            {# <div class="text-truncate">Last month's report looks great, I am very happy with #}
                            {# the #}
                            {# progress so far, keep up the good work! #}
                            {# </div> #}
                            {# <div class="small text-gray-500">Morgan Alvarez · 2d</div> #}
                            {# </div> #}
                            {# </a> #}
                            {# <a class="dropdown-item d-flex align-items-center" href="#"> #}
                            {# <div class="dropdown-list-image mr-3"> #}
                            {# <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" #}
                            {# alt=""> #}
                            {# <div class="status-indicator bg-success"></div> #}
                            {# </div> #}
                            {# <div> #}
                            {# <div class="text-truncate">Am I a good boy? The reason I ask is because someone #}
                            {# told #}
                            {# me that people say this to all dogs, even if they aren't good... #}
                            {# </div> #}
                            {# <div class="small text-gray-500">Chicken the Dog · 2w</div> #}
                            {# </div> #}
                            {# </a> #}
                            {# <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a> #}
                            {# </div> #}
                            {# </li> #}

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }}</span>
                                    {% set avatar = get_content_field(app.user, 'user', 'avatar') %}
                                    {% if avatar is empty or avatar[0].value == null %}
                                        <img class="img-profile rounded-circle"
                                             src="{{ asset('bundles/teebbcore/img/avatar/avatar.png') }}">
                                    {% else %}
                                        {% set avatarPath = avatar[0].value.filePath %}
                                        <img class="img-profile rounded-circle"
                                             src="{{ asset(avatarPath|imagine_filter('squared_thumbnail_small')) }}">
                                    {% endif %}

                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item"
                                       href="{{ path('user_people_update', {username: app.user.username}) }}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-500"></i>
                                        {{ 'profile'|trans }}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('teebb_user_logout') }}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-500"></i>
                                        {{ 'logout'|trans }}
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                {% endblock %}

                {% block container_fluid %}
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% block page_head %}
                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">{% block head_label %}{% endblock %}</h1>
                                <div class="actions">
                                    {% if _head_actions is not empty %}
                                        {{ _head_actions|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}

                        {% block flash_message %}
                            {% include '@TeebbCore/flash_messages.html.twig' %}
                        {% endblock %}

                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- /.container-fluid -->
                {% endblock %}
            </div>
            <!-- End of Main Content -->

            {% block footer %}
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; <a href="http://www.teebb.com"
                                                      target="_blank"> Teebb Version:{{ teebb_core.version }}</a> 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            {% endblock %}

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% for javascript in teebb_core.templateRegistry.allJavaScripts %}
    <script src="{{ asset(javascript) }}"></script>
    {% endfor %}
{% endblock %}
{% block page_java_scripts %}
{% endblock %}
</body>

</html>
