{#管理字段列表card-title#}
{#Todo: 每个li 需要权限判断#}

{% set bundle = entity_type.EntityTypeMetadata.bundle %}
{% set typeAlias = app.request.get('typeAlias') %}
{% set _route = app.request.attributes.get('_route') %}

<div class="card-header d-flex flex-row align-items-center justify-content-between">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link {% if bundle ~ '_update' == _route %}active{% endif %} small"
               href="{{ entity_type.pathInfoGenerator.generate( bundle ~ '_update', {'typeAlias': typeAlias}) }}">
                {{ 'update'|trans }}{{ trans_markup(entity_type.EntityTypeMetadata.label) }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if bundle ~ '_index_field' == _route %}active{% endif %} small"
               href="{{ entity_type.pathInfoGenerator.generate( bundle ~ '_index_field', {'typeAlias':typeAlias}) }}">
                {{ 'index_field'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if bundle ~ '_display_field' == _route %}active{% endif %} small"
               href="{{ entity_type.pathInfoGenerator.generate( bundle ~ '_display_field', {'typeAlias':typeAlias}) }}">
                {{ 'display_field'|trans }}</a>
        </li>
    </ul>
</div>