{% extends '@TeebbCore/types/base_list.html.twig' %}

{% block head_actions %}
    {% include '@TeebbCore/types/buttons/head_create_button.html.twig' with _context %}
{% endblock %}

{% block item_actions %}

    {#  Todo: 需要添加权限  #}
    {% set type = entity_type.EntityTypeMetadata.type %}

    <div class="btn-group btn-group-sm" role="group" aria-label="内容类型操作按钮组">
        <a href="{{ entity_type.pathInfoGenerator.generate( type ~ '_update', {'alias':item.alias|replace({'_':'-'}) }) }}"
           class="btn btn-primary text-white">{{ 'update'|trans }}</a>
        <a href="{{ entity_type.pathInfoGenerator.generate( type ~ '_delete', {'alias':item.alias|replace({'_':'-'}) }) }}"
           class="btn btn-danger text-white">{{ 'delete'|trans }}</a>

        <div class="btn-group btn-group-sm" role="group">
            <button id="btnGroupDrop_{{ item.id }}" type="button"
                    class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {{ 'index_field'|trans }}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop_{{ item.id }}">
                <a class="dropdown-item" href="{{ entity_type.pathInfoGenerator.generate( type ~ '_index_field', {'alias':item.alias|replace({'_':'-'})}) }}">管理字段</a>
                <a class="dropdown-item" href="{{ entity_type.pathInfoGenerator.generate( type ~ '_display_field', {'alias':item.alias|replace({'_':'-'})}) }}">管理字段显示</a>
            </div>
        </div>
    </div>
{% endblock %}