{% extends '@TeebbCore/base_content.html.twig' %}
{% set bundle = entity_type.bundle %}

{% block head_label %}
    {{ action|trans }}{{ bundle|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/content/buttons/head_index_content_button.html.twig' %}
{% endblock %}

{% block card_top_border %}border-top-danger{% endblock %}

{% block card_title %}
    {% include '@TeebbCore/content/common/card_title.html.twig' with _context %}
{% endblock %}

{% block card_help %}
    <!-- 提示 -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-info-circle"></i>
        <span class="small text-muted">
            {% block top_help_message %}
                {{ 'teebb.core.help.delete_content'|trans({'%title%': subject.title}) }}
            {% endblock %}
        </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}

{% block card_body %}
    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    {% include '@TeebbCore/content/buttons/form_delete_content_button.html.twig' %}
    {{ form_end(delete_form) }}
{% endblock %}