{#  Todo: 需要添加权限及获取可用操作  #}

<div class="btn-group btn-group-sm" role="group">
    <a href="{{ path('teebb_menu_update', {'id':menu.id}) }}" class="btn btn-primary text-white">{{ 'update'|trans }}</a>
    <a href="{{ path('teebb_menu_delete', {'id':menu.id}) }}" class="btn btn-danger text-white">{{ 'delete'|trans }}</a>
    <a href="{{ path('teebb_manage_menu_items', {'id':menu.id}) }}" class="btn btn-success text-white">{{ 'manage_menu_items'|trans }}</a>
</div>